h2 {
	position: absolute;
	top: 570px;
	left: 50px;
	font-family: helevtica ;
	font-size:26px ;
	letter-spacing: 2px;
}
p {
	position: absolute;
	Top: 620px;
	left: 50px;
	width: 375px;
	font-family:helvetica;
	font font-size:18px ;
	line-height:22px ;
}

.letters {
	position: absolute;
	top:  -100px;
	left: -50px;

}
.r:hover {
	top: -50px;

}
.r1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	top:  150px ;
	left: 100px;
}
.r1:hover {
	background-color: rgb(200, 10, 10);
}
.r2 {
	width:250px ;
	height: 350px;
	background-color: black;
	position: absolute;
	top: 146px;
	left: 0px;
	border-radius: 50%;
}
.r2:hover {
	background-color: rgb(200, 10, 10);
}

.r3 {
	width:245px ;
	height: 345px;
	background-color: white;
	position: absolute;
	top: 148px;
	left: 0px;
	border-radius: 50%;
}
.r4 {
	width: 100px;
	height: 550px;
	background-color: white;
	position: absolute;
	top:  150px ;
}
.r5 {
	width: 100px;
	height: 150px;
	background-color: white;
	position: absolute;
	left: 75px;
}

.r6 {
	width: 5px;
	height: 168px;
	background-color: black;
	position: absolute;
	transform: skew(20deg);
	top: 482px;
	left: 200px

}
.r6:hover {
	background-color: rgb(200, 10, 10);
}


.a1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 300px

}
.a1:hover {
	background-color: rgb(200, 10, 10);
}
.a2 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	transform: skew(10deg);
	top: 150px;
	left: 390px

}
.a2:hover {
	background-color: rgb(200, 10, 10);
}
.a3 {
	width: 57px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 350px

}
.a3:hover {
	background-color: rgb(200, 10, 10);
}
.n1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 490px

}
.n1:hover {
	background-color: rgb(200, 10, 10);
}
.n2 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	transform: skew(10deg);
	top: 150px;
	left: 580px

}
.n2:hover {
	background-color: rgb(200, 10, 10);
}

.n3 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 625px
}
.n3:hover {
	background-color: rgb(200, 10, 10);
}

.g1 {
	width:250px ;
	height: 497px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 675px;
	border-radius: 50%;
}
.g1:hover {
	background-color: rgb(200, 10, 10);
}
.g2 {
	width:185px ;
	height: 472px;
	background-color: white;
	position: absolute;
	transform: rotate(0deg);
	top: 161px;
	left: 725px;
	border-radius: 50%;
}

.g3 {
	width:200px ;
	height: 320px;
	background-color: white;
	position: absolute;
	top: 175px;
	left: 788px;
}
.g4 {
	width:45px ;
	height: 150px;
	background-color: white;
	position: absolute;
	transform: rotate(26deg);
	top: 480px;
	left: 845px;
	border-radius: 50%;
}
.g5 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 850px
}
.g5:hover {
	background-color: rgb(200, 10, 10);
}
.g6 {
	width: 5px;
	height: 160px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 910px
}
.g6:hover {
	background-color: rgb(200, 10, 10);
}
.e1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 960px
}
.e1:hover {
	background-color: rgb(200, 10, 10);
}

.e2 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 1010px

}
.e2:hover {
	background-color: rgb(200, 10, 10);
}
.e3 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 1010px

}
.e3:hover {
	background-color: rgb(200, 10, 10);
}
.e4 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 645px;
	left: 1010px

}
.e4:hover {
	background-color: rgb(200, 10, 10);
}
.s{ position: absolute;
	left: -20px;
 }
 .s:hover .hoverable {
 background-color: rgb(200, 10, 10);}
.s1 {
	width:200px ;
	height: 350px;
	background-color: black;
	position: absolute;
	transform: rotate(-16deg);
	top: 150px;
	left: 1150px;
	border-radius: 50%;
}
.s2 {
	width:140px ;
	height: 230px;
	background-color: black;
	position: absolute;
	transform: rotate(-25deg);
	top: 430px;
	left: 1165px;
	border-radius: 50%;
}

.s3 {
	width:180px ;
	height: 350px;
	background-color: white;
	position: absolute;
	transform: rotate(-20deg);
	top: 167px;
	left: 1205px;
	border-radius: 50%;
}
.s4 {
	width:100px ;
	height: 190px;
	background-color: white;
	position: absolute;
	transform: rotate(-25deg);
	top: 450px;
	left: 1155px;
	border-radius: 50%;
}
.s5 {
	width: 20px;
	height: 54px;
	background-color: white;
	position: absolute;
	transform: rotate(-37deg);
	top:  450px ;
	left: 1275px;
}
.s6 {
	width: 50px;
	height: 80px;
	background-color: white;
	position: absolute;
	transform: rotate(-34deg);
	left: 1168px;
	top: 441px;
}
.s7 {
	width: 20px;
	height: 54px;
	background-color: white;
	position: absolute;
	transform: rotate(-33deg);
	top:  470px ;
	left: 1288px;
}
