h2 {
	position: absolute;
	top: 490px;
	left: 90px;
	font-family:helevtica;
	font-size:18px;
	letter-spacing:1px;
}
p {
	position: absolute;
	Top: 525px;
	left: 90px;
	width: 375px;
	font-family:helvetica;
	font font-size:11px;
	line-height:18px;
}
.letters {
	position: absolute;
	transform: scale(80%);
	top: -70px;

}
.r:hover {
	position: absolute;
	top: 50px;

}
.r:hover .hoverable{
	background-color: rgb(200, 10, 10);
}
.r1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	top:  150px ;
	left: 100px;
	transition: all 0.3s;
}
.r1:hover {
	background-color: rgb(200, 10, 10);
}
.r2 {
	width:250px ;
	height: 350px;
	background-color: black;
	position: absolute;
	top: 146px;
	left: 0px;
	border-radius: 50%;
}
.r2:hover {
	background-color: rgb(200, 10, 10);
}

.r3 {
	width:245px ;
	height: 345px;
	background-color: white;
	position: absolute;
	top: 148px;
	left: 0px;
	border-radius: 50%;
}
.r4 {
	width: 100px;
	height: 550px;
	background-color: white;
	position: absolute;
	top:  150px ;
}
.r5 {
	width: 100px;
	height: 150px;
	background-color: white;
	position: absolute;
	left: 75px;
}

.r6 {
	width: 5px;
	height: 168px;
	background-color: black;
	position: absolute;
	transform: skew(20deg);
	top: 482px;
	left: 200px

}
.r6:hover {
	background-color: rgb(200, 10, 10);
}

.a:hover {
	position: absolute;
	top: 50px;

}
.a:hover .hoverable{
	background-color: rgb(200, 10, 10);
}
.a1 {
	width: 50px;
	height: 500px;
	background-color: black;
	transition: all .3s;
	position: absolute;
	top: 150px;
	left: 300px

}
.a1:hover {
	background-color: rgb(200, 10, 10);
}
.a2 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	transform: skew(10deg);
	top: 150px;
	left: 390px

}
.a2:hover {
	background-color: rgb(200, 10, 10);
}
.a3 {
	width: 57px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 350px

}
.a3:hover {
	background-color: rgb(200, 10, 10);
}
.n:hover {
	position: absolute;
	top: 50px;

}
.n:hover .hoverable{
	background-color: rgb(200, 10, 10);
}
.n1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	transition: all .3s;
	top: 150px;
	left: 490px

}
.n1:hover {
	background-color: rgb(200, 10, 10);
}
.n2 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	transform: skew(10deg);
	top: 150px;
	left: 580px

}
.n2:hover {
	background-color: rgb(200, 10, 10);
}

.n3 {
	width: 5px;
	height: 500px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 625px
}
.n3:hover {
	background-color: rgb(200, 10, 10);
}
.g:hover {
	position: absolute;
	top: 50px;

}
.g:hover .hoverable{
	background-color: rgb(200, 10, 10);
}
.g{ position: absolute;
	left: 5px;
 }

.g1 {
	width:250px ;
	height: 497px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 675px;
	border-radius: 50%;
}

.g2 {
	width:185px ;
	height: 472px;
	background-color: white;
	position: absolute;
	transition: all .3s;
	transform: rotate(0deg);
	top: 161px;
	left: 725px;
	border-radius: 50%;
}

.g3 {
	width:200px ;
	height: 320px;
	background-color: white;
	position: absolute;
	top: 175px;
	left: 788px;
}
.g4 {
	width:45px ;
	height: 150px;
	background-color: white;
	position: absolute;
	transform: rotate(26deg);
	top: 480px;
	left: 845px;
	border-radius: 50%;
}
.g5 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 850px
}
.g6 {
	width: 5px;
	height: 160px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 910px
}
.e:hover {
	position: absolute;
	top: 50px;
	transition: all .2s;

}
.e:hover .hoverable{
	background-color: rgb(200, 10, 10);
}
.e1 {
	width: 50px;
	height: 500px;
	background-color: black;
	position: absolute;
	transition: all .3s;
	top: 150px;
	left: 960px
}
.e1:hover {
	background-color: rgb(200, 10, 10);
}

.e2 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 490px;
	left: 1010px

}
.e2:hover {
	background-color: rgb(200, 10, 10);
}
.e3 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 1010px

}
.e3:hover {
	background-color: rgb(200, 10, 10);
}
.e4 {
	width: 65px;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 645px;
	left: 1010px

}
.e4:hover {
	background-color: rgb(200, 10, 10);
}

.s:hover {
	position: absolute;
	top: 20px;
}

.s { 
	position: absolute;
	left: 20px;
	top:  -130px;
	transform: rotate(6deg)
 }

.s:hover .hoverable {
 background-color: rgb(200, 10, 10);
}

.s1 {
	width:200px ;
	height: 350px;
	background-color: black;
	position: absolute;
	transition: all .3s;
	transform: rotate(-16deg);
	top: 150px;
	left: 1150px;
	border-radius: 50%;
}
.s1:hover {
	background-color: rgb(200, 10, 10);}

.s2 {
	width:140px ;
	height: 230px;
	background-color: black;
	position: absolute;
	transition: all .3s;
	transform: rotate(-25deg);
	top: 430px;
	left: 1165px;
	border-radius: 50%;
}
.s2:hover {
	background-color: rgb(200, 10, 10);}

.s3 {
	width:169px ;
	height: 346px;
	background-color: white;
	position: absolute;
	transform: rotate(-22deg);
	top: 157px;
	left: 1200px;
	border-radius: 50%;
}
.s4 {
	width:90px ;
	height: 192px;
	background-color: white;
	position: absolute;
	transform: rotate(-25deg);
	top: 450px;
	left: 1165px;
	border-radius: 50%;
}
.s5 {
	width: 33px;
	height: 76px;
	background-color: white;
	position: absolute;
	transform: rotate(-33deg);
	top:  428px ;
	left: 1272px;
}
.s6 {
	width: 51px;
	height: 81px;
	background-color: white;
	position: absolute;
	transform: rotate(-33deg);
	left: 1166px;
	top: 440px;
}
.s7 {
	width: 20px;
	height: 63px;
	background-color: white;
	position: absolute;
	transform: rotate(-26deg);
	top:  532px ;
	left: 1160px;
}
.s8 {
	width: 20px;
	height: 73px;
	background-color: white;
	position: absolute;
	transform: rotate(-42deg);
	top:  169px ;
	left: 1279px;
}