body {
  background-color: black;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom:  0;
  right: 0;
  margin: auto;
  width: 70vw;
  height: 70vh;
  background-image: url("eye.gif");
  background-size: cover;
  background-position: center;
}

h1 {
    position: absolute;
    top: 60px;
    left: 5vw;
    font-size: 70px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(236, 0, 140);
    line-height: 70px;
}

h2 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
}

h3 {
    position: absolute;
    top: 620px;
    left: 5vw;
    font-size: 20 px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.museum { 
  position: absolute;
  top: 15px;
  left: 5vw;
 }

.price {
    position: absolute;
    top: 450px;
    left: 5vw;
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 28px;
}

.date {
    position: absolute;
    top: 250px;
    left: 5vw;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

@media (max-width: 420px)
{
h1 {
    position: absolute;
    top: 40px;
    left: 3vw;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(236, 0, 140);
    line-height: 40px;
    letter-spacing: 1px;}

.price {
    position: absolute;
    top: 520px;
    left: 3vw;
    font-size: 22px;
    color: white;
    line-height: 25px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
}
.date {
    position: absolute;
    top: 180px;
    left: 3vw;
    font-size: 22px;
    color: white;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Teko', sans-serif; }


.museum {
  position: absolute;
  top: 15 px;
left: 3vw;}

h2 {
    font-size: 22px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
}
}

h3 {
    position: absolute;
    top: 670px;
    left: 3vw;
    font-size: 17px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

